/vendor
/.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
#/public/asset/admin/js/admin/main.js
/public/.htaccess
*.zip
*.gz
*.mmdb
'.php_cs.cache'
/public/storage/
/public/js/*
/public/css/*
hint.txt
*.lock
.php-cs-fixer.php
.php-cs-fixer.cache
_ide_helper.php
package-lock.json
.phpstorm.meta.php
.styleci.yml
.rnd
.php-cs-fixer.dist.php

